# .env.example
# Copy the contents of this file to a new file named .env and replace the placeholder
# values with your actual configuration.

DATABASE_URL=db-url-here
SECRET_KEY=your-secret-key-here
GOOGLE_CLIENT_ID=google-client-id-here
GOOGLE_CLIENT_SECRET=google-client-secret-here
RESEND_API_KEY=resend-api-key-here
RESEND_FROM_NAME=Basecta
RESEND_FROM_EMAIL=noreply@basecta.com