# .env.example
# Copy the contents of this file to a new file named .env and replace the placeholder
# values with your actual configuration.

DATABASE_URL=db-url-here
SECRET_KEY=your-secret-key-here
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here